# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Git
.git/
.github/
.gitignore

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker files نفسها
.dockerignore
Dockerfile

# Temp files
*.tmp
*.temp